@model IEnumerable<GreatestMovies.Models.Actor>

@{
    ViewBag.Title = "Index";
}

<h1>Actor Index</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>
</table>*@


<div class="row">
         @foreach (var item in Model)
         {
          <div class="col-md-4 colBorder" style="font-family: 'Bellefair', serif; text-align:center;">
              <img src="~/Images/SamuelLJackson.jpg" alt="Avatar" class="image" style="width:100%">
                  <div class="middle">
                      <div class="text"><img src="~/Images/oscars-2015.jpg" style="width:20%; color:gold;" /></div>
                  </div>
              
        <h2>
           Name:  @Html.DisplayFor(modelItem => item.ActorName)
        </h2>
        <h4>
           Birthdate:  @Html.DisplayFor(modelItem => item.DoB)
        </h4>
        <h4>
           Nationality:  @Html.DisplayFor(modelItem => item.Nationality)
        </h4>
        <h6>
           Gender:  @Html.DisplayFor(modelItem => item.Gender)
        </h6>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ActorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ActorID })
        </p>
    </div>
}

</div>
